/* reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}


/*  html como um todo estilização */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


/*  cabeçalho estilização */
header {
    height: 13vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(24, 24, 24, 0.747);
    backdrop-filter: blur(10px);
    padding: 2rem 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    box-shadow: 0px 2px 10px black;
}


/*  estilização do logo */


header .LOGO {}

.imagemlogo {
    width: 260px;
    height: 160px;

}

.imagemlogo:hover {

    transform: scale(1.1);
}

header span {

    color: green;

}

/* barra de navegação */

header .barra-nav a {
    font-size: 2rem;
    ;
    padding: 0.1.5rem;
    color: rgb(240, 245, 240)
}

.listinha {
    gap: 40px;
    display: inline-flex;
    list-style: none;





}




.listinha li:hover {

    transform: scale(1.1);
    animation: alternate-reverse;
}


/* animação da barra de navegação */
header.barra-nav a:hover {
    color: rgb(208, 221, 211)
}



header .icones a {
    font-size: 2.5rem;
    color: #f1eeee;
    margin-left: 1.5rem;


}

header .icones a:hover {

    color: rgb(77, 77, 77);
}


header #barrinha {

    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: 1.5rem;

    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0.3);
    display: none;

}



section {
    padding: 2rem 9%;
    display: flex;


}


/* PAGINAS DAS SECCS  */




/* slider */








.foto1 {

    background-color: #00e8f8;

}



/*  botao de comprar */
.butao {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: rgba(230, 207, 4, 0.89);
    backdrop-filter: blur(5000px);
    color: rgb(255, 255, 255);
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;


}


.butao:hover {
    background: rgba(232, 248, 3, 0.137);
    backdrop-filter: blur(2px);
    color: #ffffff;
    scale: 1.2;

}


.inicio {
    display: flex;
    text-align: center;
    justify-content: center;
    /* background-image: url(../imagens/1.png) ; */
    min-height: 100vh;
    text-align: center;
    /*    background-repeat: no-repeat;
    background-size:  100%;
    background-position-y: 124px; */






}


/* slides */

.conteudo1 {
    height: 350px;
    width: 1900px;
    overflow: hidden;
    position: absolute;
    top: 13%;
    left: 0%;


}



.labelsBarrinha {
    display: flex;
    align-items: center;
    position: absolute;
    cursor: pointer;
    bottom: 9px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    border-radius: 60px;
    transition: .7s;

}

.bar {
    width: 50px;
    height: 17px;
    border: 2px solid rgb(7, 7, 7);
    margin: 6px;
    border-radius: 50px;
}

.bar:hover {
    background-color: #f3150d;
}

.slides input {
    display: none;

}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
}

.slide {
    width: 33%;
    transition: 0.6s;

}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked~.slide-s1 {

    margin-left: 0;

}

#slide2:checked~.slide-s1 {

    margin-left: -34%;

}

#slide3:checked~.slide-s1 {

    margin-left: -70%;

}



.inicio .conteudo {
    max-width: rem;
    margin-top: 500px;
    z-index: 1;
}

.inicio .conteudo h2 {

    font-size: 6rem;
    color: #f3150d;



}








.inicio .conteudo span {

    font-size: 3.2rem;
    color: rgb(255, 7, 7);
    padding: 1rem 0;
    line-height: 1.5;
}

.inicio .conteudo p {

    font-size: 2rem;
    color: rgb(42, 0, 90);
    padding: 1rem 0;
    line-height: 2.5;
}


.inicio .conteudo .explorar {
    font-style: italic;
    font-weight: 900;
    color: grey;
}


.quemsomos {

    background-color: blue;

    height: 100vh;
}


.produtos {
    background-color: orange;
    height: 100vh;


}


.equipe {
    background-color: yellow;
    height: 100vh;

}

.contato {
    width: 100vw;
    height: 100vh;
    /* background-image: url(../imagens/background-contato.jpg); */
    background-image: url(../imagens/contatobackground.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    flex-wrap: wrap;
}

/* .contatoh1 {
    color: #ff534e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 100%;
    background-image: url(../imagens/lisianthus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 18px;
} */

.contatotext {
    display: flex;
    /* background-color: yellow; */
    justify-content: top;
    align-self: center;
    flex-direction: column;
    height: 600px;
    width: 50%;
    text-align: left;
    font-size: 20px;
}


.contatotext p,
h2 {
    margin-bottom: 60px;

}

.contatotext p {
    font-family: 'Bad Script', cursive;
    font-size: 28px;
    font-weight: 600;
}

.contatotext h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 54px;
}

.ctth2voce {
    font-family: 'Amatic SC', cursive;
    font-size: 62px;
    color: #f3150d;
}

.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #DB5A5A;
}

.form-control.success i .img-success {
    visibility: visible;
}

.form-control.error i .img-error {
    visibility: visible;
}

.form-control.error small {
    visibility: visible;
}

.form i {
    padding-left: 5px;
    padding-top: 10px;
    position: absolute;
    visibility: hidden;
}

.form small {
    display: flex;
    position: relative;
    font-size: 12px;
    align-self: flex-end;
    justify-content: center;
    visibility: hidden;
    color: #DB5A5A;
}

.formulario {
    height: 600px;
    background-image: url(../imagens/formflower.jpg);
    background-size: cover;
    border: 1px solid rgba(236, 165, 210, 0.25);
    justify-content: center;
    border-radius: 20px;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
}


form label {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 15px;
    font-size: 16px;
}

form input,
form textarea {
    outline: unset;
    padding: 10px;
    width: 350px;
    color: rgb(0, 0, 0);
    border: 1px solid;
    border-radius: 20px;
}

form input:focus,
form textarea:focus {
    background-color: wheat
}

form button[type=submit] {
    margin-top: 5px;
    cursor: pointer;
    width: 350px;
    height: 35px;
    border-radius: 20px;
    background-color: pink;
    border: 1px solid black;
}


/* responsividade (media queries)*/

@media (max-width:991px) {


    html {
        font-size: 55%
    }

    header {
        padding: 2rem;
    }

    section {

        padding: 2rem;
    }

    .inicio {
        background-position: left;
    }

}

@media (max-width: 768px) {

    html .fa-bars {
        display: block;
    }

    header .barra-nav {

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0 .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #barrinha:checked~.barra-nav {

        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }



    header .barra-nav a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0 .1);
        display: block;
        color: #333;
    }

    .inicio .conteudo h3 {

        font-size: 7rem;
    }

    .inicio .conteudo span {

        font-size: 2.5rem;

    }

    .inicio .conteudo p {

        font-size: 1.5rem;

    }



    .listinha {

        display: flex;
        flex-direction: column;
    }



}





@media (max-width:450px) {


    html {
        font-size: 55%
    }

}