/* reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


/*  html como um todo estilização */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


/*  cabeçalho estilização */
header {
    height: 13vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #6C51A6;
    padding: 2rem 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    box-shadow: 0px 2px 10px black;
}


/*  estilização do logo */


header .LOGO {}

.imagemlogo {
    width: 260px;
    height: 160px;

}

.imagemlogo:hover {

    transform: scale(1.1);
}

header span {

    color: green;

}

/* barra de navegação */

header .barra-nav a {
    font-size: 2rem;
    ;
    padding: 0.1.5rem;
    color: rgb(240, 245, 240)
}

.listinha {
    gap: 40px;
    display: inline-flex;
    list-style: none;




}

.listinha li:hover {

    transform: scale(1.1);
}


/* animação da barra de navegação */
header.barra-nav a:hover {
    color: rgb(208, 221, 211)
}



header .icones a {
    font-size: 2.5rem;
    color: #f1eeee;
    margin-left: 1.5rem;


}

header .icones a:hover {

    color: rgb(77, 77, 77);
}


header #barrinha {

    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: 1.5rem;
    ;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0.3);
    display: none;

}


/* PAGINAS DAS SECCS  */

#inicio {
    background-image: url(../imagens/background_flower.jpg);
    height: 100vh;
    background-size: cover;
}



#quemsomos {

    background-color: blue;

    height: 100vh;
}


#produtos {
    background-color: orange;
    height: 100vh;


}


#equipe {
    background-color: yellow;
    height: 100vh;

}

#contato {
    background-color: red;
    height: 100vh;

}


/* responsividade (media queries)*/

@media (max-width:991px) {


    html {
        font-size: 55%
    }

    header {
        padding: 2rem;
    }

}

@media (max-width: 728px) {

    html .fa-bars {
        display: block;
    }

    header .barra-nav {

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0 .1);

    }

    header .barra-nav a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0 .1);
        display: block;
        color: #333;

    }

    .listinha {

        display: flex;
        flex-direction: column;
    }


}


@media (max-width:450px) {


    html {
        font-size: 50%
    }

    header {
        padding: 2rem;
    }

}